.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  form {
    width: 100%;

    div {
      margin-bottom: 15px;
    }

    label {
      @media (max-width: 767px) {
        .checkout {
          .form {
            padding: 50px 15px;
          }
        }
      }
      font-size: 14.5px;
      font-weight: 600;
    }

    input {
      padding: 12px;
      font-size: 16px;
      width: 100%;
      outline: none;
      opacity: 0.95;
      border: 1px solid #ddd;
    }

    input:focus {
      border: 1px dotted black;
      opacity: 1;
    }

    select {
      padding: 12px;
      font-size: 16px;
      width: 100%;
      outline: none;
      border: 1px solid #ddd;
    }

    .name {
      display: flex;
      width: 100%;
      gap: 50px;

      .firstName,
      .lastName {
        flex: 1;
      }

      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    form {
      .name {
        gap: 40px;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    form {
      label {
        font-size: 13px;
      }

      .name {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 320px) {
  .container {
    form {
      label {
        font-size: 12.9px;
      }

      .name {
        gap: 5px;
      }
    }
  }
}
