.sliderStyles{
    position: relative;
    height: 100%;
    overflow: hidden;

    .leftArrowStyles{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 20px;
        font-size: 45px;
        color: #fff;
        z-index: 1;
        cursor: pointer;
    }

    .rightArrowStyles{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 20px;
        font-size: 45px;
        color: #fff;
        z-index: 1;
        cursor: pointer;
    }
}

@media(max-width: 1024px){
    .sliderStyles{
        .leftArrowStyles{
            font-size: 32px;
        }
        .rightArrowStyles{
            font-size: 32px;
        }
    }
}

@media(max-width:767px){
    .sliderStyles{
        .leftArrowStyles{
            font-size: 25px;
        }
        .rightArrowStyles{
            font-size: 25px;
        }
    }
}
